{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-danger-subtle">
                    <h5 class="card-title mb-0">An Error Occurred</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ error }}</p>
                    <p class="mt-4">
                        <a href="/" class="btn btn-primary">Return to Home</a>
                        <a href="/simulations" class="btn btn-outline-secondary ms-2">View Simulations</a>
                    </p>
                    
                    <div class="alert alert-info mt-4">
                        <h6>Troubleshooting Tips:</h6>
                        <ul>
                            <li>For simulations with many time points (>200), use the background processing option.</li>
                            <li>Check the <a href="/simulations">Simulations</a> page to see if your simulation is still running in the background.</li>
                            <li>If you're seeing timeout errors, try reducing the number of time points or qubits.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}